html {
	font-family: "Open Sans";
}

body {
	padding: 0;
	margin: 0;
}

main {
	padding-top: 2rem;
	width: 100%;
	margin: 0 auto;
}

#difficulty {
	border: none;
	background-color: lightgray;
	border-radius: .3rem;
	padding: .4rem;
	min-width: 12rem;
}

#field {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
}

#field>div[class] {
	padding: 5px;
	position: relative;
}
#field img {
	width: 100%;
}

#field .covered, #field .uncovered {
	position: absolute;
	top: 5px;
	left: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	transition: .25s;
}

#victoryBox {
	background-color: lightgray;
	padding: 2rem;
	width: 100%;
	border-radius: .3rem;
	min-height: 17vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


#victoryBox h2 {
	margin: 0;
}

#victoryBox table {
	border-collapse: collapse;
}

#victoryBox table tr {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

#victoryBox table td {
	padding-top: .2rem;
	padding-bottom: .2rem;
}

#victoryBox td:first-child {
	min-width: 4rem;
}

#scoreboard {
	background-color: lightgray;
	width: 12rem;
	padding: 1px 1rem;
	margin: 1rem 0;
	border-radius: .3rem;
	box-sizing: border-box;
}

.board4 {
	flex: 25%;
	max-width: 25%;
	box-sizing: border-box;
}

.board5 {
	flex: 20%;
	max-width: 20%;
	box-sizing: border-box;
}

.board6 {
	flex: 16.66666%;
	max-width: 16.66666%;
	box-sizing: border-box;
}	

.uncovered {
	opacity: 0;
	transform: rotate(90deg);
}

.collected {
	visibility: hidden;
}

img {
	margin: 0;
	display: block;
}	

@media screen and (min-width: 768px) {
	main {
		max-width: 768px;
	}
}